<!DOCTYPE html>
<!--[if IE 8]> <html class="ie8"> <![endif]-->
<!--[if !IE]><!-->
<html>
<!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <title>Title | @ViewBag.Title</title>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
    <meta content="@Html.GetConfigValue("webpages:Description")" name="description" />
    <meta content="@Html.GetConfigValue("webpages:Author")" name="author" />

    <!-- ================== BEGIN BASE CSS STYLE ================== -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,400,400italic,500,500italic,700,700italic,900,900italic" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    @Styles.Render("~/assets/css/jquery-ui")
    @Styles.Render("~/assets/css/bootstrap")
    <link rel="stylesheet"
          href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

    @*<link href="@Styles.Url("~/assets/css/font-awesome")" rel="stylesheet" />*@
    @*<link href="@Styles.Url("~/assets/css/animate")" rel="stylesheet" />*@
    <link href="@Styles.Url("~/assets/css/style")" rel="stylesheet" />
    <link href="@Styles.Url("~/assets/css/default")" rel="stylesheet" />
    <!-- ================== END BASE CSS STYLE ================== -->
    <!-- ================== BEGIN PAGE LEVEL STYLE ================== -->
    @RenderSection("pagelevelcss", false)
    <!-- ================== END PAGE LEVEL STYLE ================== -->
    <!-- ================== BEGIN BASE JS ================== -->
    @*<script src="@Scripts.Url("~/assets/js/pace")"></script>*@
    <!-- ================== END BASE JS ================== -->
</head>
<body>
    <!-- begin #page-loader -->
    <div id="page-loader">
        <div class="material-loader">
            <svg class="circular" viewBox="25 25 50 50">
                <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
            </svg>
            <div class="message">Loading...</div>
        </div>
    </div>
    <!-- end #page-loader -->
    <!-- begin #page-container -->
    <div id="page-container" class="fade page-sidebar-fixed page-header-fixed page-with-wide-sidebar">
        <!-- begin #header -->
        <div id="header" class="header navbar navbar-default navbar-fixed-top">
            <!-- begin container-fluid -->
            <div class="container-fluid">
                <!-- begin mobile sidebar expand / collapse button -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed navbar-toggle-left" data-click="sidebar-minify">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <button type="button" class="navbar-toggle" data-click="sidebar-toggled">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="" class="navbar-brand">WebSite Title</a>
                </div>
                <!-- end mobile sidebar expand / collapse button -->
                <!-- begin header navigation right -->
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#" class="icon notification waves-effect waves-light" data-toggle="navbar-search">
                            <i class="material-icons">@Html.Geti18nText("mbString_Search")</i>
                        </a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="icon notification waves-effect waves-light" data-toggle="dropdown">
                            <i class="material-icons">inbox</i> @if (Html.GetNotiftionCount() > 0)
                            { <span class="label label-notification">@Html.GetNotiftionCountDisplay() </span>}
                        </a>
                        <ul class="dropdown-menu media-list pull-right animated fadeInDown">
                            <li class="dropdown-header bg-indigo text-white">Notifications (5)</li>
                            <li class="media">
                                <a href="javascript:;">
                                    <div class="media-left"><img src="@Url.Content("~/Content/ColorAdmin/assets/img/user-1.jpg")" class="media-object" alt="" /></div>
                                    <div class="media-body">
                                        <h6 class="media-heading">John Smith</h6>
                                        <p>Quisque pulvinar tellus sit amet sem scelerisque tincidunt.</p>
                                        <div class="text-muted f-s-11">25 minutes ago</div>
                                    </div>
                                </a>
                            </li>
                            <li class="media">
                                <a href="javascript:;">
                                    <div class="media-left"><img src="assets/img/user-2.jpg" class="media-object" alt="" /></div>
                                    <div class="media-body">
                                        <h6 class="media-heading">Olivia</h6>
                                        <p>Quisque pulvinar tellus sit amet sem scelerisque tincidunt.</p>
                                        <div class="text-muted f-s-11">35 minutes ago</div>
                                    </div>
                                </a>
                            </li>
                            <li class="media">
                                <a href="javascript:;">
                                    <div class="media-left"><i class="material-icons media-object bg-deep-purple">people</i></div>
                                    <div class="media-body">
                                        <h6 class="media-heading"> New User Registered</h6>
                                        <div class="text-muted f-s-11">1 hour ago</div>
                                    </div>
                                </a>
                            </li>
                            <li class="media">
                                <a href="javascript:;">
                                    <div class="media-left"><i class="material-icons media-object bg-blue">email</i></div>
                                    <div class="media-body">
                                        <h6 class="media-heading"> New Email From John</h6>
                                        <div class="text-muted f-s-11">2 hours ago</div>
                                    </div>
                                </a>
                            </li>
                            <li class="media">
                                <a href="javascript:;">
                                    <div class="media-left"><i class="material-icons media-object bg-teal">shopping_basket</i></div>
                                    <div class="media-body">
                                        <h6 class="media-heading">You sold an item!</h6>
                                        <div class="text-muted f-s-11">3 hours ago</div>
                                    </div>
                                </a>
                            </li>
                            <li class="dropdown-footer text-center">
                                <a href="javascript:;">View more</a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown navbar-user">
                        <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
                            <img src="@Url.Content("~/Content/ColorAdmin/assets/img/user.jpg")" alt="" />
                            <span class="hidden-xs">Hi, John Smith</span>
                        </a>
                        <ul class="dropdown-menu animated fadeInLeft">
                            <li class="arrow"></li>
                            <li><a href="javascript:;">Edit Profile</a></li>
                            <li><a href="javascript:;"><span class="badge badge-danger pull-right">2</span> Inbox</a></li>
                            <li><a href="javascript:;">Calendar</a></li>
                            <li><a href="javascript:;">@Html.Geti18nText("mbString_Settings")</a></li>
                            <li class="divider"></li>
                            <li><a href="javascript:;">Log Out</a></li>
                        </ul>
                    </li>
                </ul>
                <!-- end header navigation right -->

                <div class="search-form">
                    <button class="search-btn" type="submit"><i class="material-icons">search</i></button>
                    <input type="text" class="form-control" placeholder="Search Something...">
                    <a href="#" class="close" data-dismiss="navbar-search"><i class="material-icons">close</i></a>
                </div>
            </div>
            <!-- end container-fluid -->
        </div>
        <!-- end #header -->
        <!-- begin #sidebar -->
        <div id="sidebar" class="sidebar">
            <!-- begin sidebar scrollbar -->
            <div data-scrollbar="true" data-height="100%">
                <!-- begin sidebar user -->
                <ul class="nav">
                    <li class="nav-profile">
                        <a href="#" data-toggle="nav-profile">
                            <div class="image">
                                <img src="@Url.Content("~/Content/ColorAdmin/assets/img/user.jpg")" alt="" />
                            </div>
                            <div class="info">
                                <b class="caret pull-right"></b>
                                John Smith
                                <small>Front end developer</small>
                            </div>
                        </a>
                    </li>
                    <li>
                        <ul class="nav nav-profile">
                            <li><a href="#"><i class="material-icons">settings</i> @Html.Geti18nText("mbString_Settings") </a></li>

                            <li><a href="#"><i class="material-icons">help</i> @Html.Geti18nText("mbString_Helps") </a></li>
                        </ul>
                    </li>
                </ul>
                <!-- end sidebar user -->
                <!-- begin sidebar nav -->
                @*@Html.Navigation()*@
                <ul class="nav">
                    <li>
                        <a href="/">
                            <i class="material-icons">dashboard</i>
                            <span>Menu Item</span>
                        </a>
                    </li>
                    <li>
                        <a href="/DCSetUp">
                            <i class="material-icons">home</i>
                            <span>Menu Item</span>
                        </a>
                    </li>
                    <li>
                        <a href="/DCSetUp">
                            <i class="material-icons">home</i>
                            <span>Menu Item</span>
                        </a>
                    </li>
                    <li>
                        <a href="/DCSetUp">
                            <i class="material-icons">home</i>
                            <span>Menu Item</span>
                        </a>
                    </li>
                    <li>
                        <a href="/DCSetUp">
                            <i class="material-icons">home</i>
                            <span>Menu Item</span>
                        </a>
                    </li>
                    <li>
                        <a href="/DCSetUp">
                            <i class="material-icons">home</i>
                            <span>Menu Item</span>
                        </a>
                    </li>
                    <li>
                        <a href="/DCSetUp">
                            <i class="material-icons">home</i>
                            <span>Menu Item</span>
                        </a>
                    </li>
                </ul>
                <!-- end sidebar nav -->
            </div>
            <!-- end sidebar scrollbar -->
        </div>
        <div class="sidebar-bg"></div>
        <!-- end #sidebar -->
        <!-- begin #content -->
        <div id="content" class="content">
            <h1 class="page-header">@ViewBag.Title </h1>
            @RenderBody()
            <!-- end row -->
        </div>
        <!-- end #content -->
        <!-- begin scroll to top btn -->
        <a href="javascript:;" class="btn btn-icon btn-circle btn-success btn-scroll-to-top fade" data-click="scroll-top"><i class="fa fa-angle-up"></i></a>
        <!-- end scroll to top btn -->
    </div>
    <!-- end page container -->
    <!-- ================== BEGIN BASE JS ================== -->

    <script src="@Scripts.Url("~/assets/js/jquery")"></script>
    <script src="@Scripts.Url("~/assets/js/migrate")"></script>
    <script src="@Scripts.Url("~/assets/js/jquery-ui")"></script>
    <script src="@Scripts.Url("~/assets/js/bootstrap")"></script>
    <!--[if lt IE 9]>
        <script src="@Scripts.Url("~/assets/js/html5shiv")"></script>
        <script src="@Scripts.Url("~/assets/js/respond")"></script>
        <script src="@Scripts.Url("~/assets/js/excanvas")"></script>
    <![endif]-->
    <script src="@Scripts.Url("~/assets/js/slimscroll")"></script>
    <script src="@Scripts.Url("~/assets/js/cookie")"></script>
    <!-- ================== END BASE JS ================== -->
    <!-- ================== BEGIN PAGE LEVEL JS ================== -->
    @RenderSection("pageleveljs", required: false)
    <script src="@Scripts.Url("~/assets/js/app")"></script>
    <!-- ================== END PAGE LEVEL JS ================== -->
    @RenderSection("scripts", required: false)

    <script>
        $(document).ready(function () {
            App.init();
            if (typeof (page_init) === 'function') {
                page_init();
            }
        });
    </script>

</body>
</html>
